canvas {
display:block;
border:1px solid #FFF;
margin:auto;
}

#playbutton {
width:100px;
height:50px;
display:block;
font-family:Arial, sans-serif;
font-size:30px;
font-weight:700;
background-color:#FFF;
cursor:pointer;
margin:10px auto auto;
}

html,body {
font-family:Montserrat, helvetica, sans-serif;
background:#000;
color:#fff;
font-size:20pt;
line-height:1.5;
margin:0;
padding:2%;
}

h1 {
margin:0;
padding:0;
}

button {
padding-bottom:2px;
}

.button {
  display: inline-block;
  border-radius: 0px;
  background-color: rgba(0, 0, 0,0);
  border: none;
  color: #00ff33;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\27BE';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  border-bottom: 3px solid #00ff33;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}