h1 {
  font-size: 50px;
  background: -webkit-linear-gradient(#4d4dff, #f9c6d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  margin: auto;
  width: 1100px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
  background: -webkit-linear-gradient(#4d4dff, #f9c6d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  font-weight: bold;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #f9c6d7;
}
li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  float: left;
  font-size: 20px;
   background: -webkit-linear-gradient(#4d4dff, #f9c6d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
li p {
  text-decoration: underline dotted blue;
  background: -webkit-linear-gradient(#4d4dff, #f9c6d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: bold;
}
body {
  background-image: url(background.jpg);
}
a {
  background: -webkit-linear-gradient(#4d4dff, #f9c6d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 2000;
}
#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}
#menu-outer {
	height: 84px;
}

.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}
h3 {
  font-size: 25px;
  background: -webkit-linear-gradient(#4d4dff, #f9c6d7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  margin: auto;
  width: 1100px;
}
.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}